@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Gemunu+Libre:wght@200&display=swap');
body ,body * {
    margin :0;
    box-sizing: border-box;
    position: relative;
}
body {
    background-color: beige;
    min-height: 100vh;
}
.flex-center {
   display: flex; 
   flex-direction: column;
   justify-content: center;
   align-items: center;
}